* {
  font-family: helvetica, arial, sans-serif;;
}

#results {
  font-size: 1.4em;
  margin: 20px;
  background-color: #eee;
  border: solid thin #999;
  padding: 10px;
  display:none;
  box-shadow: 4px 3px 5px #777;
  border-radius: 10px;
}
